includes:
	- /pocketmine/pocketmine.phpstan.neon
	- /pocketmine/phpstan/rules/pm4-enum.phpstan.neon
parameters:
	level: 5
	paths:
		- /source/src
	# don't analyze files in /deps, but still include it.
	scanDirectories:
		- /deps